SETTINGS_PATH_ENV_NAME=/opt/app/.configs/config.yaml

API_PORT=8000

# PostgreSQL (переопределяют database_settings в config.yaml)
DATABASE_SETTINGS__HOST=taxi-postgres
DATABASE_SETTINGS__PORT=5432
DATABASE_SETTINGS__DATABASE=taxidb
DATABASE_SETTINGS__USER=user
DATABASE_SETTINGS__PASSWORD=taxipass
